*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    font-size: 18px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-3{
    width: calc(100%/4);
}
.item{
    height: 600px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    overflow: scroll;
    text-align: justify;
    background-color:bisque;
}
h1{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;
    display: flex;
    justify-content: center;
    margin: 10px;
}
img{
    width: 150px;
    height: 100px;
}